#  Recommend Courses to Employees

 a model that predicts the rating, a given employee will provide for a given course. W

##  Prepare for Embedding

In [11]:
#Loading data

from csv import reader
import pandas as pd
import os
import numpy as np
import math

ratings_data = pd.read_csv("employee_course_ratings.csv")

ratings_data.head()

   EmployeeID          EmpName  CourseID                   CourseName  Rating
0        1408   Ignace Ormonde        14             Video Production       3
1        1249  Gabriela Balcon        17                  Translation       2
2        1158    Enrique Lewer         8              IT Architecture       3
3        1564      Wallie Byrd        18  Natural Language Processing       3
4        1334    Hannah Ganter         6             Java Programming       4

In [12]:
#Build list of unique Employees
emp_list=ratings_data.groupby(
    ['EmployeeID','EmpName']).size().reset_index()
emp_list.head()
print("Total Employees: ",len(emp_list))

#Build list of unique Courses
course_list=ratings_data.groupby(
    ['CourseID','CourseName']).size().reset_index()
course_list.head()
print("Total Courses: ", len(course_list))

Total Employees:  638
Total Courses:  25

In [13]:
from tensorflow.keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from tensorflow.keras.models import Model

#build employee embedding vector
#we are using IDs a the direct index to embedding.
#Since IDs are continuous, we dont need ID-name mapping.
#We can also build a vocabulary alternatively.

emp_input = Input(shape=[1], name="Emp-Input")
emp_embed = Embedding(2001,  #max value of employee ID
                      5,
                      name="Emp-Embedding")(emp_input)
emp_vec = Flatten(name="Emp-Flatten")(emp_embed)

#build course embedding vector
course_input = Input(shape=[1],name="Course-Input")
course_embed = Embedding(len(course_list) + 1,
                         5,
                         name="Course-Embedding")(course_input)
course_vec = Flatten(name="Course-Flatten")(course_embed)

#merge the vectors
merged_vec = Concatenate()([emp_vec,course_vec])

## . Building the  Rating Model

The recommendation works as follows

1. Build a model that can predict the rating, a given employee may give to a course he/she has not taken so far
2. Use the model to predict possible ratings for all courses, for this employee.
3. Recommend the courses that have the top predicted ratings

In [14]:
#Given an Employee and a Course, this model predicts the 
#rating the employee will give this couse

from sklearn.model_selection import train_test_split

ratings_train, ratings_test = train_test_split(
                                ratings_data, test_size=0.1)

#add fully connected layers
fc_layer1 = Dense(128,activation="relu")(merged_vec)
fc_layer2 = Dense(32, activation="relu")(fc_layer1)
model_output = Dense(1)(fc_layer2)

rating_model= Model([emp_input,course_input],model_output)

rating_model.compile(optimizer="adam",
                     loss="mean_squared_error")

rating_model.summary()

print("Fitting the model:")
#Fit the model
model_fit = rating_model.fit(
    x=[ratings_train.EmployeeID, ratings_train.CourseID],
    y=ratings_train.Rating,
    epochs=25,
    verbose=1,
    validation_split=0.1
    )

print("Evaluating the model:")
rating_model.evaluate(
    x=[ratings_test.EmployeeID, ratings_test.CourseID],
    y=ratings_test.Rating)

Model: "functional_5"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Emp-Input (InputLayer)          [(None, 1)]          0
__________________________________________________________________________________________________
Course-Input (InputLayer)       [(None, 1)]          0
__________________________________________________________________________________________________
Emp-Embedding (Embedding)       (None, 1, 5)         10005       Emp-Input[0][0]
__________________________________________________________________________________________________
Course-Embedding (Embedding)    (None, 1, 5)         130         Course-Input[0][0]
__________________________________________________________________________________________________
Emp-Flatten (Flatten)           (None, 5)            0           Emp-Embedding[0][0]
__________________________________________________________________________________________________
Course-Flatten (Flatten)        (None, 5)            0           Course-Embedding[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 10)           0           Emp-Flatten[0][0]
                                                                 Course-Flatten[0][0]
__________________________________________________________________________________________________
dense_6 (Dense)                 (None, 128)          1408        concatenate_2[0][0]
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 32)           4128        dense_6[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 1)            33          dense_7[0][0]
==================================================================================================
Total params: 15,704
Trainable params: 15,704
Non-trainable params: 0
__________________________________________________________________________________________________
Fitting the model:
Epoch 1/25
26/26 [==============================] - 0s 8ms/step - loss: 8.8512 - val_loss: 7.1050
Epoch 2/25
26/26 [==============================] - 0s 3ms/step - loss: 5.7589 - val_loss: 3.0335
Epoch 3/25
26/26 [==============================] - 0s 3ms/step - loss: 2.0733 - val_loss: 1.8789
Epoch 4/25
26/26 [==============================] - 0s 3ms/step - loss: 1.6300 - val_loss: 1.6911
Epoch 5/25
26/26 [==============================] - 0s 2ms/step - loss: 1.4180 - val_loss: 1.6569
Epoch 6/25
26/26 [==============================] - 0s 3ms/step - loss: 1.1471 - val_loss: 1.6548
Epoch 7/25
26/26 [==============================] - 0s 2ms/step - loss: 0.8698 - val_loss: 1.7556
Epoch 8/25
26/26 [==============================] - 0s 2ms/step - loss: 0.6839 - val_loss: 1.8111
Epoch 9/25
26/26 [==============================] - 0s 2ms/step - loss: 0.5791 - val_loss: 1.8814
Epoch 10/25
26/26 [==============================] - 0s 2ms/step - loss: 0.5256 - val_loss: 1.9282
Epoch 11/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4982 - val_loss: 1.9657
Epoch 12/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4777 - val_loss: 2.0307
Epoch 13/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4790 - val_loss: 2.0553
Epoch 14/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4681 - val_loss: 2.0489
Epoch 15/25
26/26 [==============================] - 0s 3ms/step - loss: 0.4562 - val_loss: 2.1275
Epoch 16/25
26/26 [==============================] - 0s 3ms/step - loss: 0.4538 - val_loss: 2.0921
Epoch 17/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4507 - val_loss: 2.0729
Epoch 18/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4409 - val_loss: 2.1013
Epoch 19/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4375 - val_loss: 2.0952
Epoch 20/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4415 - val_loss: 2.1366
Epoch 21/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4305 - val_loss: 2.1458
Epoch 22/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4290 - val_loss: 2.1423
Epoch 23/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4329 - val_loss: 2.1462
Epoch 24/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4275 - val_loss: 2.2017
Epoch 25/25
26/26 [==============================] - 0s 2ms/step - loss: 0.4241 - val_loss: 2.1428
Evaluating the model:
4/4 [==============================] - 0s 2ms/step - loss: 2.4421

2.4420549869537354

##  Recommending Courses

In [15]:
#Predicting the Rating for a given employee and a course
#for employee 1029 and course 8

rating_model.predict(
    [pd.Series([1029]),
     pd.Series([8])])

array([[3.6870313]], dtype=float32)

In [16]:
emp_to_predict="Harriot Laflin"

#Get employee ID for the employee name
pred_emp_id=emp_list[emp_list['EmpName'] == emp_to_predict]["EmployeeID"].iloc[0]

#find Courses already taken by employee. We dont want to predict those.
completed_courses=ratings_data[
                    ratings_data["EmployeeID"] == pred_emp_id]["CourseID"].unique()

#Courses not taken by employee
new_courses = course_list.query("CourseID not in @completed_courses")["CourseID"]

#Create a list with the same employee ID repeated for the same number of times as the
#number of new courses. This provides the employee and course Series with same size
emp_dummy_list=pd.Series(np.array([pred_emp_id for i in range(len(new_courses))]))

#Predict ratings for the new courses for this employee
projected_ratings = rating_model.predict([emp_dummy_list,new_courses])
flat_ratings = np.array([x[0] for x in projected_ratings])

print("Course Ratings: ", flat_ratings)

#Recommend top 5 courses
print("\nRating  CourseID CourseName\n-----------------------------------")
for idx in (-flat_ratings).argsort()[:5]:
    course_id=new_courses.iloc[idx]
    course_name=course_list.query("CourseID == @course_id")["CourseName"].iloc[0]
    print(" ", round(flat_ratings[idx],1),"    ", course_id, "   ", course_name)

Course Ratings:  [3.2490697 3.2264514 3.9014983 4.376862  4.255427  4.6516747 4.3177137
 4.240129  4.5906014 4.601039  4.1862016 3.987641  3.950977  3.5197337
 4.736732  4.6420493 3.809194  3.7168226 3.7877018 4.3611884 3.7770374
 3.856885  4.2413526]

Rating  CourseID CourseName
-----------------------------------
  4.7      16     Audio Production
  4.7      7     Project Management
  4.6      17     Translation
  4.6      11     Analytical Reasoning
  4.6      10     Mobile Development